header {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
}

header>h1{
	line-height: 20px;
    padding-left: 20px;
	-webkit-flex: auto;
	flex: auto;
}

header img{
	width: 60px;
	height: 60px;
}

header div{
	padding-top: 26px;
}